@model OnlineChat.Models.DTO.UserAndContactsViewModel;
<h1 class="text-center">hello @Model.NickName</h1>


<div id="inputForm">
        <input type="text" id="message" /><br/>       
        <input type="button" id="sendBtn" value="Отправить" />
</div>
<div class="row">
    <div id="chats" class="col-md-3">
        <div class="contacts">
            @foreach(var contacts in @Model.Contacts)
            {
              <button class="contacts btn btn-primary btn-block" value="@contacts">@contacts</button> 
            }
        </div>   
    </div>
    <div id="chatroom" class="col-md-9">
        
            <h3 class="text-center">Chating</h3>
        
    </div>
</div>



<script>
    //connection to hub
    const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();

    const userName='@Model.NickName';
    let adresseeName="";

    async function GetMessages(sender, adressee){
        let url="/Messages?nickNameSender="+sender+"&nickNameAdressee="+adressee;
        const response = await fetch(url, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true){
                const messages = await response.json();
               // const messages = JSON.parse(response);
                return messages;
            }

        return "nothing";
    }


    const buttons = document.getElementsByTagName("button");
    Array.from(buttons).forEach(button =>
        button.addEventListener("click", function(button){
            adresseeName=this.value;
            
            //let test=GetMessages(userName,adresseeName);
            let url="/Messages?nickNameSender="+userName+"&nickNameAdressee="+adresseeName;

            fetch(url, {
                method: "GET",
                headers: { "Accept": "application/json" }
            }).then(response => response.json()).then(data=>{
                for(let i=0;i<data.length;i++){
                    let elem = document.createElement("p");
                    elem.appendChild(document.createTextNode(data[i].text));

                    var firstElem = document.getElementById("chatroom").firstChild;
                    document.getElementById("chatroom").insertBefore(elem, firstElem);
                }
                
            
            });
            




                
               
                
                
           


            
            
            
            

            
            
        }));


    // получение сообщения от сервера
        hubConnection.on('Send', function (userName, message) {
  
            // создаем элемент <b> для имени пользователя
            let userNameElem = document.createElement("b");
            userNameElem.appendChild(document.createTextNode(userName + ': '));
  
            

            // создает элемент <p> для сообщения пользователя
            let elem = document.createElement("p");
            elem.appendChild(userNameElem);
            elem.appendChild(document.createTextNode(message));
  
            var firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);
            
        });


        // отправка сообщения на сервер
        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let message = document.getElementById("message").value;
            
            hubConnection.invoke("Send", userName,adresseeName, message);
        });
 
        
        hubConnection.start();
</script>